
    <div class="deviceDetailsBlock">

        <div class="row">
            <div class="col-lg-5 device-details">
                <p><span class="deviceBlock-title">Old Phone</span></p>
                <img src="assets/phone.jpg"/>
                <p><strong>BST iPhone SE 128GB</strong></p>
                <P>SERIAL #25661728183929</P>
                <p>ICCID:8901983827888F</p>
            </div>
            <div class="col-lg-5 device-details">
                <p><span class="deviceBlock-title">New Phone</span></p>
                <img src="assets/phone.jpg"/>
                <p><strong>BST iPhone SE 128GB</strong></p>
                <P>SERIAL #25661728183929</P>
                <p>ICCID:8901983827888F</p>
            </div>
        </div>
    </div>

