.outerBorder{
    border: 1px solid #ffa700;
    margin: 20px 0;
    min-height: 480px;
    border-radius: 6px;
    position: relative;
    .page-title{
      background-color: #fff;
      position: absolute;
      top:-10px;
      left:10px;
    }
   
}
  