<div class="outerBorder">
    <p class="page-title">My Account</p>
    <div class="row user-block" style="clear:both">
        <div class="col-lg-6">
            <p>Test User</p>
            <div class="row">
            <div class="col-lg-4 device-img">
                <img src="assets/phone.jpg"/>
            </div>
            <div class="col-lg-6 device-details">
                <p>IP SE SILV 16 BST SVCSTK</p>
                <P>913-208-1234</P>
                <a class="link" routerLink="/device-info" routerLinkActive="active">Swap Device</a>
            </div>
        </div>
        </div>
    </div>
</div>